/out/artifacts/DataCenter_war_exploded/js/echarts.js
/out/artifacts/DataCenter_war_exploded/js/jquery.cookie.js
/out/artifacts/DataCenter_war_exploded/js/jquery.js
/out/artifacts/DataCenter_war_exploded/js/vue.js
