li,ul,body,ol,a,p{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
li,ul,ol{
	list-style: none;
}

#top{
	width: 100%;
}
#top li{
	width: 15.625rem;
	display: inline-block;
	height: 7.5rem;
}
